<p id="notice"><%= notice %></p>



<p>
  <strong>F21:</strong>
  <%= @tracer.f21 %>
</p>

<p>
  <strong>F22:</strong>
  <%= @tracer.f22 %>
</p>

<p>
  <strong>F23:</strong>
  <%= @tracer.f23 %>
</p>

<p>
  <strong>F24:</strong>
  <%= @tracer.f24 %>
</p>

<p>
  <strong>F25:</strong>
  <%= @tracer.f25 %>
</p>

<p>
  <strong>F26:</strong>
  <%= @tracer.f26 %>
</p>

<p>
  <strong>F27:</strong>
  <%= @tracer.f27 %>
</p>

<p>
  <strong>F301:</strong>
  <%= @tracer.f301 %>
</p>

<p>
  <strong>F302:</strong>
  <%= @tracer.f302 %>
</p>

<p>
  <strong>F303:</strong>
  <%= @tracer.f303 %>
</p>

<p>
  <strong>F401:</strong>
  <%= @tracer.f401 %>
</p>

<p>
  <strong>F402:</strong>
  <%= @tracer.f402 %>
</p>

<p>
  <strong>F403:</strong>
  <%= @tracer.f403 %>
</p>

<p>
  <strong>F404:</strong>
  <%= @tracer.f404 %>
</p>

<p>
  <strong>F405:</strong>
  <%= @tracer.f405 %>
</p>

<p>
  <strong>F406:</strong>
  <%= @tracer.f406 %>
</p>

<p>
  <strong>F407:</strong>
  <%= @tracer.f407 %>
</p>

<p>
  <strong>F408:</strong>
  <%= @tracer.f408 %>
</p>

<p>
  <strong>F409:</strong>
  <%= @tracer.f409 %>
</p>

<p>
  <strong>F410:</strong>
  <%= @tracer.f410 %>
</p>

<p>
  <strong>F411:</strong>
  <%= @tracer.f411 %>
</p>

<p>
  <strong>F412:</strong>
  <%= @tracer.f412 %>
</p>

<p>
  <strong>F413:</strong>
  <%= @tracer.f413 %>
</p>

<p>
  <strong>F414:</strong>
  <%= @tracer.f414 %>
</p>

<p>
  <strong>F415:</strong>
  <%= @tracer.f415 %>
</p>

<p>
  <strong>F501:</strong>
  <%= @tracer.f501 %>
</p>

<p>
  <strong>F502:</strong>
  <%= @tracer.f502 %>
</p>

<p>
  <strong>F503:</strong>
  <%= @tracer.f503 %>
</p>

<p>
  <strong>F6:</strong>
  <%= @tracer.f6 %>
</p>

<p>
  <strong>F7:</strong>
  <%= @tracer.f7 %>
</p>

<p>
  <strong>F7a:</strong>
  <%= @tracer.f7a %>
</p>

<p>
  <strong>F8:</strong>
  <%= @tracer.f8 %>
</p>

<p>
  <strong>F901:</strong>
  <%= @tracer.f901 %>
</p>

<p>
  <strong>F902:</strong>
  <%= @tracer.f902 %>
</p>

<p>
  <strong>F903:</strong>
  <%= @tracer.f903 %>
</p>

<p>
  <strong>F904:</strong>
  <%= @tracer.f904 %>
</p>

<p>
  <strong>F905:</strong>
  <%= @tracer.f905 %>
</p>

<p>
  <strong>F906:</strong>
  <%= @tracer.f906 %>
</p>

<p>
  <strong>F1001:</strong>
  <%= @tracer.f1001 %>
</p>

<p>
  <strong>F1002:</strong>
  <%= @tracer.f1002 %>
</p>

<p>
  <strong>F1101:</strong>
  <%= @tracer.f1101 %>
</p>

<p>
  <strong>F1102:</strong>
  <%= @tracer.f1102 %>
</p>

<p>
  <strong>F1201:</strong>
  <%= @tracer.f1201 %>
</p>

<p>
  <strong>F1202:</strong>
  <%= @tracer.f1202 %>
</p>

<p>
  <strong>F1301:</strong>
  <%= @tracer.f1301 %>
</p>

<p>
  <strong>F1302:</strong>
  <%= @tracer.f1302 %>
</p>

<p>
  <strong>F1303:</strong>
  <%= @tracer.f1303 %>
</p>

<p>
  <strong>F14:</strong>
  <%= @tracer.f14 %>
</p>

<p>
  <strong>F15:</strong>
  <%= @tracer.f15 %>
</p>

<p>
  <strong>F1601:</strong>
  <%= @tracer.f1601 %>
</p>

<p>
  <strong>F1602:</strong>
  <%= @tracer.f1602 %>
</p>

<p>
  <strong>F1603:</strong>
  <%= @tracer.f1603 %>
</p>

<p>
  <strong>F1604:</strong>
  <%= @tracer.f1604 %>
</p>

<p>
  <strong>F1605:</strong>
  <%= @tracer.f1605 %>
</p>

<p>
  <strong>F1606:</strong>
  <%= @tracer.f1606 %>
</p>

<p>
  <strong>F1607:</strong>
  <%= @tracer.f1607 %>
</p>

<p>
  <strong>F1608:</strong>
  <%= @tracer.f1608 %>
</p>

<p>
  <strong>F1609:</strong>
  <%= @tracer.f1609 %>
</p>

<p>
  <strong>F1610:</strong>
  <%= @tracer.f1610 %>
</p>

<p>
  <strong>F1611:</strong>
  <%= @tracer.f1611 %>
</p>

<p>
  <strong>F1612:</strong>
  <%= @tracer.f1612 %>
</p>

<p>
  <strong>F1613:</strong>
  <%= @tracer.f1613 %>
</p>

<p>
  <strong>F1614:</strong>
  <%= @tracer.f1614 %>
</p>

<p>
  <strong>F1701:</strong>
  <%= @tracer.f1701 %>
</p>

<p>
  <strong>F1702b:</strong>
  <%= @tracer.f1702b %>
</p>

<p>
  <strong>F1703:</strong>
  <%= @tracer.f1703 %>
</p>

<p>
  <strong>F1704b:</strong>
  <%= @tracer.f1704b %>
</p>

<p>
  <strong>F1705:</strong>
  <%= @tracer.f1705 %>
</p>

<p>
  <strong>F1706b:</strong>
  <%= @tracer.f1706b %>
</p>

<p>
  <strong>F1705a:</strong>
  <%= @tracer.f1705a %>
</p>

<p>
  <strong>F1706ba:</strong>
  <%= @tracer.f1706ba %>
</p>

<p>
  <strong>F1707:</strong>
  <%= @tracer.f1707 %>
</p>

<p>
  <strong>F178b:</strong>
  <%= @tracer.f178b %>
</p>

<p>
  <strong>F1709:</strong>
  <%= @tracer.f1709 %>
</p>

<p>
  <strong>F1710b:</strong>
  <%= @tracer.f1710b %>
</p>

<p>
  <strong>F1711:</strong>
  <%= @tracer.f1711 %>
</p>

<p>
  <strong>F1712b:</strong>
  <%= @tracer.f1712b %>
</p>

<p>
  <strong>F1713:</strong>
  <%= @tracer.f1713 %>
</p>

<p>
  <strong>F1714b:</strong>
  <%= @tracer.f1714b %>
</p>

<p>
  <strong>F1715:</strong>
  <%= @tracer.f1715 %>
</p>

<p>
  <strong>F1716b:</strong>
  <%= @tracer.f1716b %>
</p>

<p>
  <strong>F1717:</strong>
  <%= @tracer.f1717 %>
</p>

<p>
  <strong>F1718b:</strong>
  <%= @tracer.f1718b %>
</p>

<p>
  <strong>F1719:</strong>
  <%= @tracer.f1719 %>
</p>

<p>
  <strong>F1720b:</strong>
  <%= @tracer.f1720b %>
</p>

<p>
  <strong>F1721:</strong>
  <%= @tracer.f1721 %>
</p>

<p>
  <strong>F1722b:</strong>
  <%= @tracer.f1722b %>
</p>

<p>
  <strong>F1723:</strong>
  <%= @tracer.f1723 %>
</p>

<p>
  <strong>F1724b:</strong>
  <%= @tracer.f1724b %>
</p>

<p>
  <strong>F1725:</strong>
  <%= @tracer.f1725 %>
</p>

<p>
  <strong>F1726b:</strong>
  <%= @tracer.f1726b %>
</p>

<p>
  <strong>F1727:</strong>
  <%= @tracer.f1727 %>
</p>

<p>
  <strong>F1728b:</strong>
  <%= @tracer.f1728b %>
</p>

<p>
  <strong>F1729:</strong>
  <%= @tracer.f1729 %>
</p>

<p>
  <strong>F1730b:</strong>
  <%= @tracer.f1730b %>
</p>

<p>
  <strong>F1731:</strong>
  <%= @tracer.f1731 %>
</p>

<p>
  <strong>F1732b:</strong>
  <%= @tracer.f1732b %>
</p>

<p>
  <strong>F1733:</strong>
  <%= @tracer.f1733 %>
</p>

<p>
  <strong>F1734b:</strong>
  <%= @tracer.f1734b %>
</p>

<p>
  <strong>F1735:</strong>
  <%= @tracer.f1735 %>
</p>

<p>
  <strong>F1736b:</strong>
  <%= @tracer.f1736b %>
</p>

<p>
  <strong>F1737:</strong>
  <%= @tracer.f1737 %>
</p>

<p>
  <strong>F1738b:</strong>
  <%= @tracer.f1738b %>
</p>

<p>
  <strong>F1737a:</strong>
  <%= @tracer.f1737a %>
</p>

<p>
  <strong>F1738ba:</strong>
  <%= @tracer.f1738ba %>
</p>

<p>
  <strong>F1739:</strong>
  <%= @tracer.f1739 %>
</p>

<p>
  <strong>F1740b:</strong>
  <%= @tracer.f1740b %>
</p>

<p>
  <strong>F1741:</strong>
  <%= @tracer.f1741 %>
</p>

<p>
  <strong>F1742b:</strong>
  <%= @tracer.f1742b %>
</p>

<p>
  <strong>F1743:</strong>
  <%= @tracer.f1743 %>
</p>

<p>
  <strong>F1744b:</strong>
  <%= @tracer.f1744b %>
</p>

<p>
  <strong>F1745:</strong>
  <%= @tracer.f1745 %>
</p>

<p>
  <strong>F1746b:</strong>
  <%= @tracer.f1746b %>
</p>

<p>
  <strong>F1747:</strong>
  <%= @tracer.f1747 %>
</p>

<p>
  <strong>F1748b:</strong>
  <%= @tracer.f1748b %>
</p>

<p>
  <strong>F1749:</strong>
  <%= @tracer.f1749 %>
</p>

<p>
  <strong>F1750b:</strong>
  <%= @tracer.f1750b %>
</p>

<p>
  <strong>F1751:</strong>
  <%= @tracer.f1751 %>
</p>

<p>
  <strong>F1752b:</strong>
  <%= @tracer.f1752b %>
</p>

<p>
  <strong>F1753:</strong>
  <%= @tracer.f1753 %>
</p>

<p>
  <strong>F1754b:</strong>
  <%= @tracer.f1754b %>
</p>

<%= link_to 'Edit', edit_tracer_path(@tracer) %> |
<%= link_to 'Back', tracers_path %>
