<!DOCTYPE html>
<html>
  <head>
    <title>TracerStudy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application' %>
    <style type='text/css'>
			.h {font-weight : bold ; vertical-align: top; color:red }
			.hl {font-size: 8px; font-weight : bold ; vertical-align: top; color:red }
			.i {font-weight : bold ; vertical-align: top; }
			.desc { display: none; }
		</style>
  </head>

  <body>
    <!-- header -->
    <%= render 'layouts/header' %>
    <div class="">

    <%= yield %>
    </div>
    <!--footer-->
    <%= render 'layouts/footer' %>
  
  </body>
</html>
